/*===========
ie9以下浏览器提示更新样式
=============*/
.browserupgrade{
	margin:0;
	padding:0.1rem;
	background: #ccc;
}

/*===========
基本默认值
=============*/
html{
	font-size:625%;
	color: #222;
	font-family: "微软雅黑";
}
@media only screen and (min-width: 370px) {
	html{
		font-size:750%;
	}
}

::selection{
	background-color: #b3d4fc;
	text-shadow:none;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}
input,button,select,textarea{
	outline:none;
}
/*===========
	工具样式
=============*/

.center-block{
	display: block;
	margin-right: auto;
	margin-left: auto;    /*让元素在父元素居中*/
}

.pull-right{
	float:right !important;
}

.pull-left{
	float:left !important;
}

.text-right{
	text-align: right !important;
}

.text-left{
	text-align: left !important;
}

.text-center{
	text-align: center !important;
}

.hide{
	display:none !important;   /*display:none; 隐藏后 元素彻底消失*/
}

.show{
	display:block !important;
}

.invisible{
	visibility: hidden;    /* visibility: hidden;隐藏后  元素看不到 但是还在*/
}

.text-hide{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color: transparent;
	border:0;
}
::-webkit-input-placeholder { color:#bababa; }
/*===========
 清除浮动  最终版
=============*/
.clearfix:before,.clearfix:after{   /*加上一个before  可以防止浏览器margin重叠*/
    content:"";
    display:table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
/*header*/
body{
	background:#f7f6f6;
}
header{
	background: #fe8237;
	height: 0.67rem;
}
header img,header p{
	float: left;
}
header img{
	width: 0.215rem;
	height: 0.2rem;
	margin:0.35rem auto auto 0.15rem;
}
header p{
	font-size: 0.1778rem;
	color: #fff;
	margin:0.35rem auto auto calc(50% - 76px);
	display: block;
}
header span{
	font-size: 0.15225rem;
	float:right;
	color: #fff;
	margin-top: 0.385rem;
	margin-right: 0.1rem;
}
/*section*/
section form textarea{
	width: 90%;
	height: 100px;
	resize: none;
	font-size: 0.15rem;
	margin:0.1rem 5%;
	border-radius:0.1rem;
	box-sizing: border-box;
	padding:0.1rem;
}